@using STIMULUS_V2.Client.Services.AuthenticationService﻿
@using STIMULUS_V2.Shared.Models.Authentication;

@inject IAuthenticationService AuthenticationService
@inject IJSRuntime js

@page "/AjouterUtilisateur"

<RadzenLabel>Création de compte Stimulus</RadzenLabel>
<EditForm Model="RegisterModel" OnValidSubmit="HandleRegister">
    <RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px;">
        <DataAnnotationsValidator />
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenStack Gap="0">
                <div class="card-body">
                    <div class="form-group mt-2">
                        <label class="form-label"> Prenom</label>
                        <InputText style="width:700px;" class="form-control" @bind-Value="RegisterModel.Prenom"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Prenom)" />
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label"> Nom</label>
                        <InputText class="form-control" @bind-Value="RegisterModel.Nom"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Nom)" />
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label"> Adresse courriel</label>
                        <InputText class="form-control" @bind-Value="RegisterModel.Email"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Email)" />
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label"> Mot de passe</label>
                        <InputText class="form-control" @bind-Value="RegisterModel.Password"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Password)" />
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label"> Confirmer le mot de passe</label>
                        <InputText class="form-control" @bind-Value="RegisterModel.ConfirmPassword"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)"/>   
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="custom-adduser-btn-save">Enregistrer</button>
                    </div>
                </div>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</EditForm>





@code {
    private InscriptionVerification RegisterModel { get; set; } = new();

    private async Task HandleRegister()
    {
        var result = await AuthenticationService.RegisterAccountAsync(RegisterModel);
        await js.InvokeVoidAsync("alert", result);
    }
}
